body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  padding: 10px 0 50px 0;
}

.App-footer a {
  display: inline-block;
  margin: 0 5px;
}

.App-button {
  margin-bottom: 10px;
}

.App-button button {
  position: relative;
  display: inline-block;
  border: 0 solid;
  padding: 5px 10px;
  margin: 0 2px;
  font-size: 12px;
  font-weight: 700;
  text-shadow: 0 1px hsla(0, 0%, 100%, .9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: all .3s;
}

.App-button button:hover {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.38);
}

.App-button button:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.38);
}

.App-link {
  color: #09d3ac;
}

.info {
  text-align: left;
  font-size: calc(10px + 1vmin);
  width: 820px;;
  padding-top: 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}